<!-- importamos para que funcione el css -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- css footer -->
    <link type='text/css' href='{% static "css/plantillaFooter1.css" %}' rel='stylesheet' />
</head>
<body>
    <div style=" display: flex; width: 100%;">
        <div style="width: 70%;">
            <h1 style="margin-left: 40px;">GRAND <span style="margin-left: 50px;">CENTRAL</span></h1>
            <ul id="miFooter">
                <a id="aFooter" href=""><li>·Inicio</li></a>
                <a id="aFooter" href=""><li>·Nosotros</li></a>
                <a id="aFooter" href=""><li>·Promociones</li></a>
                <a id="aFooter" href=""><li>·Menu</li></a>
                <a id="aFooter" href=""><li>·Contacto</li></a>
            </ul>
        </div>
        <div style="width: 30%; display: flex; flex-direction: column; align-items: flex-start; padding: 10px;">
            <h1 >SIGUENOS</h1>
            <div style="display: flex; align-items: center; ">
                <a href="https://www.instagram.com"><img class="iconosfooter" src='{% static "img/ig_icon.png" %}' alt="Instagram" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                <a href="https://www.facebook.com"><img class="iconosfooter" src='{% static "img/fb_icon.png" %}' alt="Facebook" style="width: 30px; height: 30px; margin-right: 10px;"></a>
            </div>
            <div style="display: flex; align-items: center; margin-top: 5px;">
                <a href="https://www.tiktok.com"><img class="iconosfooter" src='{% static "img/tk_icon.png" %}' alt="Tiktok" style="width: 30px; height: 30px;margin-right: 10px;"></a>
            </div>
        </div>
    </div>
</body>
</html>