{% load static %}

<div class="container my-5">
    <!-- Encabezado -->
    <br>
    <h1 class="text-center mb-4">Explora nuestras opciones irresistibles para ti</h1>
    <br><br>
    <br><br>

    <h1 class="text-rigth mb-4" id="promociones">Promociones</h1>

    <div class="row d-flex justify-content-center">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-navigation">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <br><br>
    <!-- Encabezado 2-->
    <h1 class="text-rigth mb-4" id="menu">Menú</h1>

    <div class="row d-flex justify-content-center">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
                <!-- Aquí van todas las tarjetas -->
                <div class="swiper-slide">
                    <div class="card custom-card">
                        <img src="{% static 'img/promo1.jpg' %}" class="card-img-top custom-img" alt="Promoción 1">
                        <div class="card-body">
                            <h5 class="card-title">2 hamburguesas +<br>1 coca-cola de 1L</h5>
                            <p class="card-text"><span class="text-decoration-line-through">S/.18.00</span> <br>S/.15.00
                            </p>
                            <a href="#" class="btn-comprar btn btn-danger">PEDIR</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-navigation">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <br><br>
    <!--Lo nuevo-->
    <br><br>
    <div class="row d-flex justify-content-center">
        <!-- Primera tarjeta -->
        <div class="col-md-6 col-12 promo-card-wrapper">
            <div class="promo-card">
                <div class="row g-0 h-100">
                    <div class="col-md-4 p-0">
                        <img src="{% static 'img/promo2.jpg' %}" class="promo-card-img img-fluid" alt="...">
                    </div>
                    <div class="col-md-8 promo-card-body-wrapper">
                        <h5 class="promo-card-title">Nuevos Banquetes</h5>
                        <p class="promo-card-text">Disfruta de nuestros combos exclusivos de 18 piezas de pollo a más, para compartir con amigos y en familia.</p>
                        <p class="promo-card-price">
                            <span class="text-decoration-line-through">S/.18.00</span><br>S/.15.00
                        </p>
                        <a href="#" class="btn-comprar btn btn-danger promo-card-btn">PEDIR</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda tarjeta -->
        <div class="col-md-6 col-12 promo-card-wrapper">
            <div class="promo-card">
                <div class="row g-0 h-100">
                    <div class="col-md-4 p-0">
                        <img src="{% static 'img/promo2.jpg' %}" class="promo-card-img img-fluid" alt="...">
                    </div>
                    <div class="col-md-8 promo-card-body-wrapper">
                        <h5 class="promo-card-title">Nuevos Banquetes</h5>
                        <p class="promo-card-text">Disfruta de nuestros combos exclusivos de 18 piezas de pollo a más, para compartir con amigos y en familia.</p>
                        <p class="promo-card-price">
                            <span class="text-decoration-line-through">S/.18.00</span><br>S/.15.00
                        </p>
                        <a href="#" class="btn-comprar btn btn-danger promo-card-btn">PEDIR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
