{% load static %}
<html lang="es">
<nav class="navbar navbar-expand-lg custom-navbar-bg">
    <div class="container-fluid custom-navbar-text">
        <div class="sticky-top d-flex align-items-center">
            <span class="navbar-brand fw-bolder" style="font-size: 30px;">GRAND</span>
            <img src="{% static 'img/cubiertos.png' %}" class="ms-2 me-2">
            <span class="navbar-brand fw-bolder" style="font-size: 30px;">CENTRAL</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/">INICIO</a>
                <a class="nav-link" href="/Nosotros">NOSOTROS</a>
                <a class="nav-link" href="/#promociones">PROMOCIONES</a>
                <a class="nav-link" href="/#menu">MENÚ</a>
                <a class="nav-link" href="/contactos">CONTACTO</a>
            </div>
        </div>

        <!-- Ícono de usuario -->
        <div class="user-menu dropdown">
            <img src="{% static 'img/user-icono.jpg' %}" alt="user" class="user-img rounded-circle" id="user-icon">
            {% if request.session.usuario_nombre %}
            <a href="#" class="dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Bienvenido, {{ request.session.usuario_nombre }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="/configuracion_usuario">Configuración de usuario</a></li>
                <li><a class="dropdown-item" href="/cerrar_sesion">Salir</a></li>
            </ul>
            {% else %}
            <a href="/login">Iniciar sesión</a>
            {% endif %}
        </div>

        <!-- Ícono de carrito de compras -->
        <div class="cart-menu d-flex align-items-center ms-3">
            <a href="#" class="nav-link position-relative" data-bs-toggle="modal" data-bs-target="#cartModal">
                <img src="{% static 'img/cart-icon.png' %}" alt="cart" class="cart-img">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    0 <!-- Aquí puedes mostrar la cantidad de artículos en el carrito -->
                </span>
            </a>
        </div>
    </div>
</nav>

<!-- Modal del carrito -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Carrito de Compras</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Aquí se mostrarán los productos del carrito -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="/cart" class="btn btn-primary">Seguir Comprando</a>
            </div>
        </div>
    </div>
</div>

<!-- Estilo JavaScript -->
<script src='{% static "js/LR-script.js" %}'></script>
<script src='{% static "js/cart.js" %}'></script>

</html>