{% load static %}
<html lang="es">
<nav class="navbar navbar-expand-lg custom-navbar-bg">
    <div class="container-fluid custom-navbar-text">
        <div class="sticky-top d-flex align-items-center">
            <span class="navbar-brand fw-bolder" style="font-size: 30px;">GRAND</span>
            <img src="{% static 'img/cubiertos.png' %}" class="ms-2 me-2">
            <span class="navbar-brand fw-bolder" style="font-size: 30px;">CENTRAL</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/pagina_inicio">INICIO</a>
                <a class="nav-link" href="/Nosotros">NOSOTROS</a>
                <a class="nav-link" href="/pagina_inicio#menu">MENÚ</a>
                <a class="nav-link" href="/pagina_inicio#promociones">PROMOCIONES</a>
                <a class="nav-link" href="/contactos">CONTACTO</a>
            </div>
        </div>

        <!-- Ícono de usuario -->
        <div class="user-menu dropdown">
            <img src="{% static 'img/user-icono.jpg' %}" alt="user" class="user-img rounded-circle" id="user-icon">
            {% if request.session.usuario_nombre %}
            <a href="#" class="dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Bienvenido, {{ request.session.usuario_nombre }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="/configuracion_usuario">Configuración de usuario</a></li>
                <li><a class="dropdown-item" href="/cerrar_sesion">Salir</a></li>
            </ul>
            {% else %}
            <a href="/login">Iniciar sesión</a>
            {% endif %}
        </div>
    </div>
</nav>
<!-- Estilo JavaScript -->
<script src='{% static "js/LR-script.js" %}'></script>

</html>