{% load static %}

<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <h2 class="footer-brand">GRAND <img src="{% static 'img/cubiertos1.jpg' %}" class="brand-icon"> CENTRAL</h2>
            <ul class="list-unstyled">
                <li><a href="#" class="footer-link">INICIO</a></li>
                <li><a href="#" class="footer-link">PROMOCIONES</a></li>
                <li><a href="#" class="footer-link">CONTACTO</a></li>
                <li><a href="#" class="footer-link">MENÚ</a></li>
                <li><a href="#" class="footer-link">NOSOTROS</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <h2>SIGUENOS</h2>
            <div class="social-icons">
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>

