{% load static %}
<html lang="es">
<nav class="navbar navbar-expand-lg custom-navbar-bg ">
    <div class="container-fluid custom-navbar-text ">
        <div class="sticky-top d-flex align-items-center">
            <span class="navbar-brand fw-bolder" style="font-size: 30px;">GRAND</span>
            <img src="{% static 'img/cubiertos.png' %}" class="ms-2 me-2"> <!-- Ajusta los márgenes -->
            <span class="navbar-brand fw-bolder" style="font-size: 30px;">CENTRAL</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto"> <!-- Agrega 'ms-auto' para alinear a la derecha -->
                <a class="nav-link" href="#">INICIO</a>
                <a class="nav-link" href="/login">NOSOTROS</a>
                <a class="nav-link" href="#">MENÚ</a>
                <a class="nav-link" href="#">PROMOCIONES</a>
                <a class="nav-link" href="#">CONTACTO</a>
            </div>
        </div>
        <!-- Ícono de usuario -->
        <div class="user-menu">
            <img src="{% static 'img/user-icono.jpg' %}" alt="user" class="user-img rounded-circle" id="user-icon">
                <a href="/login">Iniciar sesión</a>
           
        </div>
    </div>
    
</nav>
<!-- Estilo JavaScript -->
<script src='{% static "js/LR-script.js" %}'></script>
</html>