<main>
    <div id="mapa-inicio">
        <aside>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15610.147998596518!2d-77.059821!3d-12.0065059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ce300d8854e1%3A0x6a1b58f36fcc79a6!2sPlaza%20Norte!5e0!3m2!1ses-419!2spe!4v1695091535602!5m2!1ses-419!2spe"
                width="70%" height="480px" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>
    </div>
    <div id="mapa-plaza-norte" style="display: none">
        <aside>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15610.147998596518!2d-77.059821!3d-12.0065059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ce300d8854e1%3A0x6a1b58f36fcc79a6!2sPlaza%20Norte!5e0!3m2!1ses-419!2spe!4v1695091535602!5m2!1ses-419!2spe"
                width="70%" height="480px"style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>
    </div>
    <div id="mapa-mega-plaza" style="display: none">
        <aside>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15610.873900587203!2d-77.0629673!3d-11.9939716!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ce543477f8d9%3A0x9d64f6794789376b!2sMegaPlaza!5e0!3m2!1ses-419!2spe!4v1696830837780!5m2!1ses-419!2spe"
                width="70%" height="480px"  style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>
    </div>
    <div id="mapa-real-plaza" style="display: none">
        <aside>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15613.987059916099!2d-77.0698701!3d-11.940069!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d1c56aba1e6f%3A0x5e192b182ece4826!2sReal%20Plaza%20Pro!5e0!3m2!1ses-419!2spe!4v1696830980249!5m2!1ses-419!2spe"
                width="70%" height="480px" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>
    </div>
    <div id="mapa-mall-santaanita" style="display: none">
        <aside>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15607.224690428638!2d-76.9707422!3d-12.0568533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c666c92e3e77%3A0xb680b42a1c459c66!2sMall%20Aventura%20Santa%20Anita!5e0!3m2!1ses-419!2spe!4v1696831065537!5m2!1ses-419!2spe"
                width="70%" height="480px" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>
    </div>
    <div id="mapa-plaza-sur" style="display: none">
        <aside>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15601.487328597355!2d-76.9822496!3d-12.1550691!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b84113003ee7%3A0x1fd71e1502ba8da6!2sMall%20del%20Sur!5e0!3m2!1ses-419!2spe!4v1696831110726!5m2!1ses-419!2spe"
                width="70%" height="480px"  style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>
    </div>
    <div id="mapa-jockey-plaza" style="display: none">
        <aside>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15605.529837024847!2d-76.9760389!3d-12.0859487!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c79f5dacafbf%3A0x2aecf92fd4325f0d!2sJockey%20Plaza!5e0!3m2!1ses-419!2spe!4v1696831150503!5m2!1ses-419!2spe"
                width="70%" height="480px" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>
    </div>
</main>